Load the database Social-Network.

In [1]:
%load_ext sql
%sql sqlite:///Social-Network.db

'Connected: @Social-Network.db'

**Assignment II Description**

Students at your hometown high school have decided to organize their social network using databases. So far, they have
collected information about sixteen students in four grades, 9-12. Here's the schema:

Highschooler ( ID, name, grade )
English: There is a high school student with unique _ID_ and a given _first name_ in a certain _grade_.

Friend ( ID1, ID2 )
English: The student with _ID1_ is friends with the student with _ID2_. Friendship is mutual, so if (123, 456) is in the Friend table, so is (456, 123).

Likes ( ID1, ID2 )
English: The student with _ID1_ likes the student with _ID2_. Liking someone is not necessarily mutual, so if (123, 456) is in the Likes table, there is no guarantee that (456, 123) is also present.

Your queries will run over a small data set conforming to the schema. You can view the database in the pdf file.

For your convenience, here is a graph showing the various connections between the students in our database. 9th graders
are blue, 10th graders are green, 11th graders are yellow, and 12th graders are purple. Undirected black edges indicate
friendships, and directed red edges indicate that one student likes another student.

![title](image.png)

**Instructions**

Each problem asks you to write a query in SQL. You can run your code by clicking Run button on the top of the page.

**Important Notes**

1- Your queries are executed using SQLite, so you must conform to the SQL constructs supported by SQLite.

2- Unless a specific result ordering is asked for, you can return the result rows in any order.

3- You are to translate the English into a SQL query that computes the desired result over all possible databases. I will give you the correct output two weeks later as a reference. However, just to check the answer is not enough. This means for our small sample database, even if your answer is correct, it is possible that your query does not correctly reflect the problem at hand. (For example, if we ask for a complex condition that requires accessing all of the tables, but over our small data set in the end the condition is satisfied only by Star Wars, then the query "select title from Movie where title = 'Star Wars'" will get correct answer even though it doesn't reflect the actual question.) Circumventing the system in this fashion is not a good idea to help you learn SQL. On the other hand, an incorrect attempt at a general solution is unlikely to produce the right answer, so you shouldn't be led astray by just checking the answer.

**Assignment Questions**

This assignment includes three exercises **[Social-Network Query Exercises], [SQL Social-Network Query Exercises Extras]** and **[Social-Network Modification Exercises]**. Finish all questions listed below and test if your answers are correct with reference output. Then fill your answers in this template.

**What to hand in:**
1. Generate a HTML report from this notebook template with answers (File > Download as > HTML).
2. This "Assignment_2.ipynb" file with answers.

Social-Network Query Exercises, Q1:

Find the names of all students who are friends with someone named Gabriel.

In [2]:
%sql select * from likes;

 * sqlite:///Social-Network.db
Done.

[(1689, 1709),
 (1709, 1689),
 (1782, 1709),
 (1911, 1247),
 (1247, 1468),
 (1641, 1468),
 (1316, 1304),
 (1501, 1934),
 (1934, 1501),
 (1025, 1101)]

Social-Network Query Exercises, Q2:

For every student who likes someone 2 or more grades younger than themselves, return that student's name and grade, and
the name and grade of the student they like.

Social-Network Query Exercises, Q3:

For every pair of students who both like each other, return the name and grade of both students. Include each pair only once,
with the two names in alphabetical order.

Social-Network Query Exercises, Q4:

Find all students who do not appear in the Likes table (as a student who likes or is liked) and return their names and grades.
Sort by grade, then by name within each grade.

Social-Network Query Exercises, Q5:

For every situation where student A likes student B, but we have no information about whom B likes (that is, B does not
appear as an ID1 in the Likes table), return A and B's names and grades.

Social-Network Query Exercises, Q6:

Find names and grades of students who only have friends in the same grade. Return the result sorted by grade, then by name
within each grade.

Social-Network Query Exercises, Q7:

For each student A who likes a student B where the two are not friends, find if they have a friend C in common (who can
introduce them!). For all such trios, return the name and grade of A, B, and C.

Social-Network Query Exercises, Q8:

Find the difference between the number of students in the school and the number of different first names.

Social-Network Query Exercises, Q9:

Find the name and grade of all students who are liked by more than one other student.

Social-Network Query Exercises Extras, Q1:

For every situation where student A likes student B, but student B likes a different student C, return the names and grades of
A, B, and C.

Social-Network Query Exercises Extras, Q2:

Find those students for whom all of their friends are in different grades from themselves. Return the students' names and
grades.

Social-Network Query Exercises Extras, Q3:

What is the average number of friends per student? (Your result should be just one number.)

Social-Network Query Exercises Extras, Q4:

Find the number of students who are either friends with Cassandra or are friends of friends of Cassandra. Do not count
Cassandra, even though technically she is a friend of a friend.

Social-Network Query Exercises Extras, Q5:

Find the name and grade of the student(s) with the greatest number of friends.

Social-Network Modification Exercises, Q1:

It's time for the seniors to graduate. Remove all 12th graders from Highschooler.

Social-Network Modification Exercises, Q2:

If two students A and B are friends, and A likes B but not vice-versa, remove the Likes tuple.

Social-Network Modification Exercises, Q3:

For all cases where A is friends with B, and B is friends with C, add a new friendship for the pair A and C. Do not add duplicate friendships, friendships that already exist, or friendships with oneself. _(This one is a bit challenging; congratulations if you get it right.)_